<div filter></div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" id="movies-tab" data-toggle="tab" href="#movies" role="tab" aria-controls="movies" aria-selected="true">Movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="tv-tab" data-toggle="tab" href="#tv" role="tab" aria-controls="tv" aria-selected="true">Tv shows</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active in" id="movies" role="tabpanel" aria-labelledby="movies-tab">
    <br>
      <div thumbnail ng-repeat="mov in ctrl.movies" movie="ctrl.movies[$index]"> </div>
  </div>
  <div class="tab-pane fade" id="tv" role="tabpanel" aria-labelledby="tv-tab">
      <br>
      fdsfds
    </div>
</div>
